server:
  port: 8080

spring:
  flyway:
    enabled: false
  application:
    name: auth-service

  datasource:
    url: jdbc:mariadb://localhost:3306/auth_db
    username: root
    password: 12345678
    driver-class-name: org.mariadb.jdbc.Driver

    jwt:
  secret: ${JWT_SECRET}


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
