version: "3.9"

services:

  db:
    image: mariadb:11
    container_name: auth-db
    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db

    ports:
      - "3306:3306"

    volumes:
      - db_data:/var/lib/mysql


  api:
    build: .
    container_name: auth-api
    restart: always

    depends_on:
      - db

    ports:
      - "8080:8080"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/auth_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      JWT_SECRET: mysupersecretjwtkey123456

volumes:
  db_data:
